
* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	background-color: #eeeeee;
}
a {
	display: block;
	text-decoration: none;
	color: #000000;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.div-flex {
	
}

.header {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top: 60px;
	margin-bottom: 105px;
	color: #000000;
	font-family: 'Roboto', sans-serif;


	&__div {
		justify-content: space-between;
		align-items: center;
	}
	&__a1 {
		display: block;
		font-size: 3rem;
		font-weight: 900;

	}

	&__a1:hover {
		color: #E10011;
	}

	&__ul {
		display: flex;
		max-width: 30%;
		justify-content: space-between;
		flex-basis: 30%;
		align-items: center;
	}

	&__a {
		font-size: 18px;
		line-height: 27px;
		font-weight: 400;
		text-transform: capitalize;
	}

	&__a:hover {
		transform: scale(1.1, 1.1);
		color: #E10011;
	}
}












