* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	background-color: #eee;
}

a {
	display: block;
	text-decoration: none;
	color: #000;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: auto;
	padding-top: 60px;
	margin-bottom: 105px;
	color: #000;
	font-family: "Roboto", sans-serif;
}
.header__div {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__a1 {
	display: block;
	font-size: 3rem;
	font-weight: 900;
}
.header__a1:hover {
	color: #e10011;
}
.header__ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 30%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__a {
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
	text-transform: capitalize;
}
.header__a:hover {
	-webkit-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
	color: #e10011;
}
