* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1.main-title {
	margin: 0;
	padding: 0;
	
}
.header {
	background-color: #4a4f56;
	color:#eb7e7f;
	margin: 0;
	padding: 5px 5px;
	border: 0px;
	background-color: #4a4f56;
	text-align: center;


}

form.order {
		
	max-width: 50%;
	width: 380px;
	padding-top: 10px;
	margin: auto;
	padding-bottom: 0;
	font-size: 30px;
	white-space: nowrap;
	
}
.dinner_item1 {
	background-color: #88839e;
	
}
.dinner_item2 {
	background-color: #7a7593;
}
.dinner_item3 {
	background-color: #88839e;
}
.dinner_item4 {
	background-color: #7a7593;
}
.dinner_item5 {
	background-color: #88839e;
}
.dinner_item6 {
	background-color: #7a7593;
}
body {
	background-color:#3b3f45;
	color:white;
	margin: 0px;
}

p {
	text-align: justify;
}		

.list_diner {	
	
	margin: auto;

}


.appetit {
	background-color: #4a4f56;
	color: #eb7e7f;
	max-width: 500px;
	margin: auto;
	padding-top: 10px;
	border: 0;

}

li {
	padding: 0;
	margin: 0;
	list-style-type: none;


}

ul {
	margin-left: 0;
	padding-left: 0;
}

.dinner_item1:hover, .dinner_item2:hover, .dinner_item3:hover, .dinner_item4:hover, .dinner_item5:hover, .dinner_item6:hover {
	background-color: #625e77;
	outline: 2px solid #ffffff ;

}
.dinner_item1:active, .dinner_item2:active, .dinner_item3:active, .dinner_item4:active, .dinner_item5:active, .dinner_item6:active {
	background-color: #eb7e7f;
}

.block {
	width: 20px
}
.list_diner [type="checkbox"]:checked ~ *{
	text-decoration: line-through solid #a3a0b5;
	opacity: 0.5;
	color: #a3a0b5;

}
