* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1.main-title {
	margin: 0;
	padding: 0;
	
}
.header {
	background-color: #4a4f56;
	color:#eb7e7f;
	margin: 0;
	padding: 5px 5px;
	border: 0px;
	background-color: #4a4f56;
	text-align: center;


}

form.order {
		
	text-align: center;
	max-width: 100%;
	padding-top: 10px;
	margin: auto;
	padding-bottom: 0;


}
.dinner_item1 {
	background-color: #88839e;
	
}
.dinner_item2 {
	background-color: #7a7593;
}
.dinner_item3 {
	background-color: #88839e;
}
.dinner_item4 {
	background-color: #7a7593;
}
.dinner_item5 {
	background-color: #88839e;
}
.dinner_item6 {
	background-color: #7a7593;
}
body {
	background-color:#3b3f45;
	color:white;
	margin: 0px;
}

p {
	text-align: justify;
}		

.list_diner {	
	
	margin: auto;

}


.appetit {
	background-color: #4a4f56;
	text-align: center;
	max-width: 540px;
	margin: auto;

}

li {
	padding: 0;
	margin: 0;
	list-style-type: none;


}

ul {
	margin-left: 0;
	padding-left: 0;
}

.col1:hover, .col2:hover, .col7:hover, .col3:hover, .col4:hover, .col6:hover {
	background-color: #625e77;
	outline: 2px solid #ffffff ;

}
.col1:active, .col2:active, .col3:active, .col4:active, .col7:active, .col6:active {
	background-color: #eb7e7f;
}

.block {
	width: 20px
}
.sub [type="checkbox"]:checked ~ *{
	text-decoration: line-through solid #a3a0b5;
	opacity: 0.5;
	color: #a3a0b5;

}
.outer {
	margin: 0;
	padding: 0;
	border: 0;
	
}