h1.door {
	color:#eb7e7f;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #4a4f56;

	
}
h3 {
	color:#eb7e7f;
	background-color: #4a4f56;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 20px;

}
body {
	background-color:#3b3f45;
	color:white;
	margin: 0px;
}
small {
	color:#88839e;
	opacity: 1;
}
p {
	text-align: justify;
}		

.col1 {
	text-align: center;
	background-color: #88839e;
	padding-right: 250px;
	display: block;
	cursor: pointer;
	width: 286px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.col2 {
	text-align: center;
	background-color: #88839e;
	padding-right: 270px;
	width: 266px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	display: block;
	cursor: pointer;
}
.col3 {
	text-align: center;
	background-color: #7a7593;
	padding-right: 275px;
	width: 261px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	display: block;
	cursor: pointer;
}
.col4 {
	text-align: center;
	background-color:#88839e;
	padding-right: 430px;
	width: 106px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	cursor: pointer;
}
.col5 {
	background-color: #4a4f56;
	text-align: center;
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;

}
.col6 {
	background-color: #7a7593;
	text-align: center;
	padding-right: 275px;
	width: 261px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	cursor: pointer;
}
.col7 {
	text-align: center;
	background-color: #7a7593;
	padding-right: 265px;
	width: 271px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	cursor: pointer;
}
li {
	height: 35px;
	list-style-type: none;

}
h3 {
	height: 35px;
}
ul {
	margin-left: 0;
	padding-left: 0;
}

.col1:hover, .col2:hover, .col7:hover, .col3:hover, .col4:hover, .col6:hover {
	background-color: #625e77;
	outline: 2px solid #ffffff ;

}
.col1:active, .col2:active, .col3:active, .col4:active, .col7:active, .col6:active {
	background-color: #eb7e7f;
}

.block {
	width: 20px
}
.sub [type="checkbox"]:checked ~ *{
	text-decoration: line-through solid #a3a0b5;
	opacity: 0.5;
	color: #a3a0b5;

}
.outer {
	margin: 0;
	padding: 0;
	border: 0;
	
}