 * {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	box-sizing: border-box;	
 }
 
 html, body {
 	width: 100%;
 	height: 100%;
 	font-size: 100%;

 }
 .head {
 	margin-top: 20px;
 	margin-bottom: 10px;
 	color: white; 	
 	text-align: left;
 }


.list a {
	display: block;
	font-size: 20px;
	text-decoration: none;
	padding: 10px 0;
	color: white;
 	
}
 body {
 	background-color: #3399cc;
 	margin: 0;
 	border: 10px solid #2b81ac;
 }
 
 .list p {
 	opacity: 0.5;
 	margin-top: 20px;
 }
 .container {
 	width: 100%;
 	max-width: 900px; 	
 	margin:  auto;

 }
 .text { 		
 	color: white;
 }
   .list li a p {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 1em;
 	
  }
 .weather { 	
 	
 	width: 25%;
 }
 
 
 .wi {
 	margin-left: .7rem;
 	font-size: 20px;
 	color: white;
	
 }
 .list {
 	padding: 0;
	font-size: 0;
	border: 3px solid white;
	background-color: white;
	color: white;
 	background:#3399cc;
 	margin: 0 0 20px 0;  	
 	
 }
 .list li { 	
 	display: inline-block;
	text-align: center;
	border-color: white;
	border: 3px solid white;

 }


.weather-id {
	width: 100%;
}
.weather-point {
	width: 50%;
}

 .blue {

 	background-color: #3399cc;
 	
 }
 .lime {
 	background-color: #33cccc;
 }
 .purple {
 	background-color: #996699;
 }
 .red {
 	background-color: #c24747;
 }
 .orange {
 	background-color: #e2674a;
 }
 .yellow {
 	background-color: #ffcc66;
 }
 .turquoise {
	background-color: #99cc99;
 }
 .darkgreen {
 	background-color: #669999;
 }
 .pink {
 	background-color: #cc6699;
 }
 .green {
 	background-color: #339966;
 }
 .violet {
 	background-color: #666699;
 } 
 
 ul:hover li:not(:hover) {
 	opacity: 0.5;
 }
 
 