 li {
 	border: 3px solid #ffffff;
 	list-style-type: none;
	display: none;

 	 }
 body {
 	background-color: #3399cc;
 }
 ul {
 	color: white;
 	background:#3399cc; 
 	list-style: none;
 	text-decoration: none;
 	border: none;

  }
 li.col12 {
 	padding: 0;
 	margin: 0 0 0 0;
 	width: 242px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col1 {
 	background:#33cccc;
 	padding: 0;
 	width: 137px;
 	text-align: center;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 	margin: 0;
 	box-sizing: border-box;
 	display: block;
 }
 li.col2 {
 	background: #996699;
 	width: 122.5px;
	display: inline;
	border: solid 2px #fff;
	outline: solid 2px #fff;
	box-sizing: border-box;
	
 }
 li.col3 {
 	background:#c24747;
	width: 122.5px;
	border: solid 2px #fff;
 	outline: solid 2px #fff;
 	
 }
 li.col4 {
 	background: #e2674a;
 	width: 143px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col5 {
 	background: #ffcc66;
 	width: 137px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col6 {
 	background: #99cc99;
 	width: 122.5px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col7 {
 	background: #669999;
 	width: 122.5px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col8 {
 	background: #cc6699;
 	width: 288px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col9 {
 	background: #339966;
 	padding: 0;
 	width: 122.5px;
 	border: solid 2px #fff;
 	outline: solid 2px #fff;
 }
 li.col10 {
 	background: #666699;
 }
 
 p.col11 {
 	color: white;
 	text-align: center;
 	opacity: 1;
 	padding-right: 30px;
 }
 h3 {
 	color: white; 	
 	padding-right: 290px;
 }
 .col2:hover:before{
 	opacity: 0.6;
 	color: #ffffff;

 }
 p {
 	opacity: 0.5;
 }
 ul:hover li:not(:hover) {
 	opacity: 0.5;
 }
 ul.what {
 	margin: 0;
 	padding: 0;
 }
 li.col12, li.col1, li.col2 {
 	
 	margin: 0 0 0 0;
 	display: inline-block;
 }
 li.col3, li.col4, li.col5, li.col6 {
 	
 	margin: 0;
 	display: inline-block;
 	padding: 0;
 }
 li.col7, li.col8, li.col9 {
 	
 	margin: 0;
 	display: inline-block;
 }
 li.col10 {
 	width: 550px;
 	margin: 0;
 	display: inline-block;
 	}
 	div {
 		margin: 0;
 		padding: 0;
 		border: 0;
 	}