 * {
 	box-sizing: border-box;
 	
 }
 html, body {
 	height: 100%;
 }
 body {
 	background-color: #E0E0E0;
 }
 ul > li > a {
 	display: block;
 }
 .navigation__link:link  {
 	color: white
  	}     
.navigation__link:visited {
	color: #F1C40F;
	}  
.navigation__link:hover {
	color: #B71C0C;
	}  
.navigation__link:active {
	color: #DA3C78;
} 

 .container {
 	width: 100%;
 	max-width: 1170px;
 	margin: auto;
 	border: 3px solid blue;
 	padding: 0 15px;
 }

 .top_header {
 	background-color: #A0A0A0;
 	padding: 20px 0;
 }
 .top_header .container {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 }

 
 .navigation__item {
 	
 }
 .top_header__logo > a {
 	display: block;
 	font-size: 0;
 }
 .navigation__list {
 	display: flex;
 	background-color: red;
 	justify-content: space-around;

 }

 .navigation__link {
 	color: white;
 	text-decoration: none;
 	border:  1px solid #1E003D;
 	padding: 10px;
 	background-color: #1E003D; 	
 	/* box-shadow:  */
 }
 .top_header__logo,
 .top_header__registration {
 	flex-grow: 0;
 	max-height: 50px;
 }
 .top_header__middle {
 	flex-grow: 1;
 }
 