* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f1f1f1;
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: none;
}
.formate {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-items: stretch;
	font-size: 0;
	margin-bottom: 20px;
}

.container {
	margin: auto;	
	width: 100%;
	max-width: 1110px;		
	padding: 20px 0;
}
input[type="text"] {
	width: 100%;
	max-width: 900px;
	max-height: 190px;
	border: none;
	outline: none;
	background-color: #f1f1f1;
	font-size: 150px;
	font-weight: bold;

}
[placeholder] {
	color: #ec5a62;
}
::placeholder {
	color: #c2c2c2;
}
input[type="submit"] {
	display: inline-block;	
	height: 190px;	
	width: 190px;
	border: none;
	outline: none;
	background: #f1f1f1 url("../images/favicon.png") no-repeat;
	cursor: pointer;
	background-position: center;
	background-size: 40%;
	font-size: 150px;
	opacity: 0.5;
	
}

.people_h2 {
	text-transform: uppercase;
	color: #c2c2c2;
	margin-bottom: 15px;
	font-weight: 900;

}

.peoples {
	display: inline-block;
    width: 100%;
    max-width: 335px;

}
.table {
	display: inline-block;
	width: 100%;
	max-width: 1140px;
}
.peoples:nth-child(2n) {
	margin: 0 4%;
}
.huge {
	display: inline-block;
    width: 100%;
    margin-right: 43px;
}
.peoples:last-child {
    margin-right: 0;
}

.people {
	margin-bottom: 10px;
	list-style: none;
}
.peoplt:last-child {
	margin-bottom: 0;
}
.peoples:first-child .photo {
    border-radius: 50%;
}
img.photo {
	padding: 10px;
	vertical-align: middle;
}
.text_people {
	color: #c2c2c2;
	vertical-align: middle;
	display: inline-block;	
}
.people_a {
	display: block;
	background-color: rgba(118,117,128,0.05);
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	text-decoration: none;
	
}
.people_a:hover {	
	background-color: #e4e4e5;
}
.people_a:hover p {	
	color: #ec5a62;
}